<div class="content_buttons">
  <strong><%= link_to "« Back to Inbox", emails_path %></strong>
  <%= link_to "Delete", :back, :class => :buttons, :id => "delete_email_bottom" %>
  <%= link_to "Mark as unread", :back, :class => :buttons, :id => "mark_unread_bottom" %>
</div>