<div class="content_buttons">
  <% if @filter != "trash" %>
    <%= link_to "Delete", emails_path(:filter => @filter), :id => "delete_top", :class => "buttons" %>
  <% end %>
  <%= link_to "Mark as read", emails_path(:filter => @filter), :id => "mark_read_bottom", :class => "buttons" %>
</div>