<div class="content_buttons">
  <% if @filter == 'archived' %>
    <%= link_to "Restore", tags_path, :class => "buttons", :id => "restore_top" %>
  <% else %>
    <%= link_to "Archive", tags_path, :class => "buttons", :id => "archive_top" %>
  <% end %>

</div>