<div class="content_buttons">
  <%= link_to 'Vote Yes', ballots_path, :class => "buttons", :id => "vote_yes_top" %>
  <%= link_to 'Vote No', ballots_path, :class => "buttons", :id => "vote_no_top" %>
</div>